.container
	.jumbotron
		h1 MultVision 
		p Welcome to Mulitvision the most blablabaon
	.row
		.col-md-6
			div(ng-include="'/partials/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/new-courses'")
			//- rendered from server so extenstion not needed