doctype
html
	head
		//- link(href="/favcon.ico",rel="shortcut Icon", type="image/x-icon");
		title mean site.
		link(rel="stylesheet" href="/css/bootstrap.css")
		link(rel="stylesheet" href="/vendor/toastr/toastr.css")
		link(rel="stylesheet" href="/css/site.css")
		base(href="/")
	body(ng-app='app')
		block main-content
		include scripts

